<%= flash[:success] %>
<% if current_user %>
<%= link_to "Logout", logout_path, method: :delete %><br><br>
Welcome: <%= current_user.email %><br>
<%= flash[:notice] %>
<%= form_tag "/links" do %>
  Link URL: <%= text_field_tag :url %>
  Link Title: <%= text_field_tag :title %>
  <%= submit_tag "Submit Link" %>
<% end %>

<div id="links-list">
  <h3> Here is a list of my links </h3>
    <% @links.map do |link| %>
    <div class="link" data-link-id="<%= link.id %>" data-link-title="<%= link.url %>"><%= link.url%>
      <h3> Link Title is: <%= link.title %></h3>
      <p class="read-status">Read Status: <%= link.read%></p><br>
      <p class="link-buttons">
         <% if !link.read %>
           <button type=button class="mark-read">Mark as read</button>
         <% else %>
           <button type=button class="mark-unread">Mark as unread</button>
         <% end %><br>
      </p>
         <%= link_to "Edit Link", edit_link_path(link.id) %><br>
         ------------------------
      </div><br>
    <% end %>
</div>


<% else %>
  <%= link_to "Sign-up", signup_path %> or <%= link_to "Login", login_path %>
<% end %>
