<%= flash[:success] %>
<% if current_user %>
<%= link_to "Logout", logout_path, method: :delete %><br><br>
Welcome: <%= current_user.email %><br>
<%= flash[:notice] %>
<%= form_tag "/links" do %>
  Link URL: <%= text_field_tag :url %>
  Link Title: <%= text_field_tag :title %>
  <%= submit_tag "Submit Link" %>
<% end %>

<div id="links-list">
  <h3> Here is a list of my links </h3>
    <% @links.map do |link| %>
      Link Title is <%= link.title %>
      <div class="link" data-link-id="<%= link.id %>" data-link-title="<%= link.url %>"><%= link.url%>
      <p class="read-status">Read Status: <%= link.read%></p><br>
         <% if !link.read %>
           <button type=button class="mark-read">Mark as read</button>
         <% end %><br>
         <%= link_to "Edit Link", edit_link_path(link.id) %><br>
         ------------------------
      </div><br>
    <% end %>
</div>

  <h2>Hot Reads!</h2>
  <ol id="hot-reads">
  <% @hot_links.each do |read| %>
    <li class='hot-read'>
      <a href="<%= read.url %>"><%= read.url %></a>
    </li>
  <% end %>
  </ol>
  <img src="https://m.popkey.co/4c7272/QL6mJ.gif">
<% else %>
  <%= link_to "Sign-up", signup_path %> or <%= link_to "Login", login_path %>
<% end %>
